<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.papyrus.dgts.palette.ToolDefinitionCustomPaletteProvider">
         <Priority
               name="Highest">
         </Priority>
      </paletteProvider>
   </extension>

</plugin>
