<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider
            class="org.eclipse.papyrus.dgts.palette.ToolDefinitionCustomPaletteProvider">
         <Priority
               name="Highest">
         </Priority>
      </paletteProvider>
   </extension>
   <extension
         point="org.eclipse.papyrus.dgts.service.model.confguration.modelConfiguration">
      <modelConfigurationProvider
            class="org.eclipse.papyrus.dgts.palette.ResourceModelConfigurationProvider">
         <Priority
               Priority="Highest">
         </Priority>
      </modelConfigurationProvider>
   </extension>

</plugin>
