<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dgts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceModelWizardID"
            name="%_UI_DiagramGlobalToolServiceModelWizard_label"
            class="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiagramGlobalToolServiceModelFile.gif">
         <description>%_UI_DiagramGlobalToolServiceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dgts -->
      <editor
            id="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceEditorID"
            name="%_UI_DiagramGlobalToolServiceEditor_label"
            icon="icons/full/obj16/DiagramGlobalToolServiceModelFile.gif"
            extensions="diagramglobaltoolservice"
            class="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceEditor"
            contributorClass="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceActionBarContributor">
      </editor>
   </extension>
   <extension
         id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragments/fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
