<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dgts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceModelWizardID"
            name="%_UI_DiagramGlobalToolServiceModelWizard_label"
            class="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DiagramGlobalToolServiceModelFile.gif">
         <description>%_UI_DiagramGlobalToolServiceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dgts -->
      <editor
            id="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceEditorID"
            name="%_UI_DiagramGlobalToolServiceEditor_label"
            icon="icons/full/obj16/DiagramGlobalToolServiceModelFile.gif"
            extensions="diagramglobaltoolservice"
            class="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceEditor"
            contributorClass="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceActionBarContributor">
      </editor>
   </extension>
   <extension
         id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragments/fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.papyrus.dgts.core.editor.definition3">
         <test
               property="org.eclipse.papyrus.dgts.core.editor.propertyTester1">
         </test>
      </definition>
      <definition
            id="org.eclipse.papyrus.dgts.core.editor.definition4">
         <with
               variable="activeEditor">
            <equals
                  value="DiagramGlobalToolService.presentation.DiagramGlobalToolServiceEditor">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.papyrus.dgts.core.editor.PropertyTester1"
            id="org.eclipse.papyrus.dgts.core.editor.propertyTester1"
            namespace="org.eclipse.papyrus.dgts.core.editor"
            properties="propertyTester1"
            type="org.eclipse.core.expressions.PropertyTester">
      </propertyTester>
   </extension>

</plugin>
