<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragments/fragment.e4xmi">
      </fragment>
   </extension>
<extension
      point="org.eclipse.core.expressions.definitions">
   <definition
         id="org.eclipse.papyrus.dgts.wizards.checkfiletypedefinition">
      <iterate>
         <adapt
               type="org.eclipse.core.resources.IResource">
            <test
                  property="org.eclipse.core.resources.name"
                  value="*.diagramglobaltoolservice">
            </test>
         </adapt>
      </iterate>
   </definition>
</extension>
</plugin>
